environments:
  dev:
    values:
      - environments/dev/values.yaml
    kubeContext: minikube
  staging:
    values:
      - environments/staging/values.yaml
    kubeContext: gke_staging-demo-502317_europe-west1_trip-manager-staging
  prod:
    values:
      - environments/prod/values.yaml
    kubeContext: gke_ornate-reef-501614-a1_europe-west1_trip-manager-prod
---

repositories:
  - name: external-secrets
    url: https://charts.external-secrets.io
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: bitnami
    url: https://charts.bitnami.com/bitnami

helmDefaults:
  wait: true
  timeout: 300
  cleanupOnFail: true

releases:
  # Cluster-wide resources
  - name: external-secrets
    namespace: external-secrets
    chart: external-secrets/external-secrets
    version: 2.5.0
    createNamespace: true
    values:
      - serviceAccount:
          annotations:
            iam.gke.io/gcp-service-account: "external-secrets-sa@{{ .Values.projectId }}.iam.gserviceaccount.com"
    installed: {{ ne .Environment.Name "dev" }}

  - name: ingress-nginx
    namespace: ingress-nginx
    createNamespace: true
    chart: ingress-nginx/ingress-nginx
    version: "4.10.1"
    installed: {{ eq .Environment.Name "dev" }}
    wait: false
    values:
      - controller:
          service:
            type: NodePort
            nodePorts:
              http: 30080
              https: 30443


  - name: cluster-config
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/cluster-config
    values:
      - helm/cluster-config/values.yaml
      - helm/cluster-config/values/{{ .Environment.Name }}.yaml
    installed: {{ ne .Environment.Name "dev" }}
    needs:
      - external-secrets/external-secrets

  # Infrastructure

  - name: redis
    namespace: trip-manager-{{ .Environment.Name }}
    chart: helm/infrastructure/redis
    values:
      - helm/infrastructure/redis/values.yaml
      - helm/infrastructure/redis/values/{{ .Environment.Name }}.yaml

  - name: neo4j
    namespace: trip-manager-{{ .Environment.Name }}
    chart: helm/infrastructure/neo4j
    condition: neo4j.enabled
    values:
      - helm/infrastructure/neo4j/values.yaml
      - helm/infrastructure/neo4j/values/{{ .Environment.Name }}.yaml


  - name: minio
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/minio
    values:
      - helm/infrastructure/minio/values.yaml
    installed: {{ eq .Environment.Name "dev" }}

  - name: pubsub-emulator
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/pubsub-emulator
    values:
      - helm/infrastructure/pubsub-emulator/values.yaml
    installed: {{ eq .Environment.Name "dev" }}

  - name: firebase-emulator
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/firebase-emulator
    installed: {{ eq .Environment.Name "dev" }}
    values:
      - helm/infrastructure/firebase-emulator/values.yaml

  - name: otel-collector
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/infrastructure/otel-collector
    values:
      - helm/infrastructure/otel-collector/values.yaml
    set:
      - name: environment
        value: {{ .Environment.Name }}

  - name: prometheus
    namespace: trip-manager-{{ .Environment.Name }}
    chart: prometheus-community/prometheus
    version: "25.21.0"
    values:
      - helm/infrastructure/prometheus/values.yaml
    installed: {{ eq .Environment.Name "dev" }}

  - name: users-postgres
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/users-postgres
    values:
      - helm/infrastructure/users-postgres/values.yaml
      - helm/infrastructure/users-postgres/values/{{ .Environment.Name }}.yaml

  - name: trips-postgres
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/trips-postgres
    values:
      - helm/infrastructure/trips-postgres/values.yaml
      - helm/infrastructure/trips-postgres/values/{{ .Environment.Name }}.yaml

  - name: newsletter-postgres
    namespace: trip-manager-{{ .Environment.Name }}
    createNamespace: true
    chart: ./helm/infrastructure/newsletter-postgres
    condition: newsletter.enabled
    values:
      - helm/infrastructure/newsletter-postgres/values.yaml
      - helm/infrastructure/newsletter-postgres/values/{{ .Environment.Name }}.yaml

  # Services

  - name: auth
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/auth
    values:
      - helm/services/auth/values.yaml
      - helm/services/auth/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}auth"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
       {{- if eq .Environment.Name "prod" }}
       - external-secrets/external-secrets
       - trip-manager-{{ .Environment.Name }}/cluster-config
       {{- end }}

  - name: feed
    namespace: trip-manager-{{ .Environment.Name }}
    chart: helm/services/feed
    condition: feed.enabled
    values:
      - helm/services/feed/values.yaml
      - helm/services/feed/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}feed"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      {{- if eq .Environment.Name "prod" }}
      - external-secrets/external-secrets
      - trip-manager-{{ .Environment.Name }}/cluster-config
      - trip-manager-{{ .Environment.Name }}/neo4j
      {{- end }}

  - name: social
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/social
    values:
      - helm/services/social/values.yaml
      - helm/services/social/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}social"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/auth

  - name: users
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/users
    values:
      - helm/services/users/values.yaml
      - helm/services/users/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}users"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/auth
      - trip-manager-{{ .Environment.Name }}/users-postgres

  - name: trips
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/trips
    values:
      - helm/services/trips/values.yaml
      - helm/services/trips/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}trips"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/auth
      - trip-manager-{{ .Environment.Name }}/trips-postgres

  - name: travel-info
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/travel-info
    values:
      - helm/services/travel-info/values.yaml
      - helm/services/travel-info/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}travel-info"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/redis

  - name: newsletter
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/newsletter
    condition: newsletter.enabled
    values:
      - helm/services/newsletter/values.yaml
      - helm/services/newsletter/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/{{ .Values.imagePrefix }}newsletter"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/newsletter-postgres

  - name: frontend
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/frontend
    values:
      - helm/services/frontend/values.yaml
      - helm/services/frontend/values/{{ .Environment.Name }}.yaml
    set:
      - name: image.repository
        value: "{{ .Values.imageRegistry }}/frontend"
      - name: image.tag
        value: "{{ .Values.imageTag }}"
    needs:
      - trip-manager-{{ .Environment.Name }}/users
      - trip-manager-{{ .Environment.Name }}/trips
      - trip-manager-{{ .Environment.Name }}/social
      - trip-manager-{{ .Environment.Name }}/auth
    installed: {{ ne .Environment.Name "dev" }}





  # Gateway
  - name: gateway
    namespace: trip-manager-{{ .Environment.Name }}
    chart: ./helm/services/gateway
    values:
      - helm/services/gateway/values.yaml
      - helm/services/gateway/values/{{ .Environment.Name }}.yaml
    needs:
      - trip-manager-{{ .Environment.Name }}/auth
      - trip-manager-{{ .Environment.Name }}/social
      - trip-manager-{{ .Environment.Name }}/users
      - trip-manager-{{ .Environment.Name }}/trips
      - trip-manager-{{ .Environment.Name }}/frontend

