go 1.25.8

use (
	./auth
	./shared/authclient
	./shared/email
	./shared/middleware
	./shared/userclient
	./shared/tenantdb
	./shared/firebaseclient
	./shared/otel
	./shared/db
	./social
	./travel-info
	./trips
	./users
	./feed
	./newsletter
)
